%grid{
    display:-ms-grid;
    display:grid;    
}
%text-align-left{
    text-align:left;
}
%text-align-right{
    text-align:right;
}
%text-align-center{
    text-align:center;
}
%cursor-pointer{
    cursor:pointer
}
%clear-margin{
    margin:0;
}
%margin-auto{
    margin-left:auto;
    margin-right:auto;
}
%box-sizing{
    box-sizing: border-box;
}
%list-style{
    list-style: none;
}